{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post_inversor['modelo'] }} {% endblock %}</h2>
    <p>Potência Máxima CA do Inversor - Maximum AC Power (W): {{ post_inversor['potencia'] }}</p>
    <p>Tensão Máxima do MPPT - Maximum MPPT DC voltage (V): {{ post_inversor['tensao_max'] }}</p>
    <p>Tensão Mínima do MPPT - Minimum MPPT DC voltage (V): {{ post_inversor['tensao_min'] }}</p>
    <p>Corrente Máxima do MPPT - Maximum DC Current (A): {{ post_inversor['corrente'] }}</p>
    <p>Número de MPPTs: {{ post_inversor['mppts'] }}</p>
    <p>Quantidade de Inversores de Frequência: {{ post_inversor['quantidade'] }}</p>
{% endblock %}