{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post_consumo['escola'] }} {% endblock %}</h2>
    <p>Janeiro: {{ post_consumo['janeiro'] }}</p>
    <p>Fevereiro: {{ post_consumo['fevereiro'] }}</p>
    <p>Março: {{ post_consumo['marco'] }}</p>
    <p>Abril: {{ post_consumo['abril'] }}</p>
    <p>Maio: {{ post_consumo['maio'] }}</p>
    <p>Junho: {{ post_consumo['junho'] }}</p>
    <p>Julho: {{ post_consumo['julho'] }}</p>
    <p>Agosto: {{ post_consumo['agosto'] }}</p>
    <p>Setembro: {{ post_consumo['setembro'] }}</p>
    <p>Outubro: {{ post_consumo['outubro'] }}</p>
    <p>Novembro: {{ post_consumo['novembro'] }}</p>
    <p>Dezembro: {{ post_consumo['dezembro'] }}</p>
{% endblock %}