{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Arranjos {% endblock %}</h2><br>

    <p>Número total de módulos (considera-se em todos os inversores): {{ post_arranjo['numero_total_modulos'] }}</p><br>
    <h5>MPPT 1</h5>
    <p>Número de Strings: {{ post_arranjo['num_strings_mppt1'] }}</p>
    <p>Módulos por String: {{ post_arranjo['mod_strings_mppt1'] }}</p>
    <p>Azimute (°): {{ post_arranjo['azimute_mppt1'] }}</p>
    <p>Inclinação (°): {{ post_arranjo['inclinacao_mppt1'] }}</p>

    <h5>MPPT 2</h5>
    <p>Número de Strings: {{ post_arranjo['num_strings_mppt2'] }}</p>
    <p>Módulos por String: {{ post_arranjo['mod_strings_mppt2'] }}</p>
    <p>Azimute (°): {{ post_arranjo['azimute_mppt2'] }}</p>
    <p>Inclinação (°): {{ post_arranjo['inclinacao_mppt2'] }}</p>

    <h5>MPPT 3</h5>
    <p>Número de Strings: {{ post_arranjo['num_strings_mppt3'] }}</p>
    <p>Módulos por String: {{ post_arranjo['mod_strings_mppt3'] }}</p>
    <p>Azimute (°): {{ post_arranjo['azimute_mppt3'] }}</p>
    <p>Inclinação (°): {{ post_arranjo['inclinacao_mppt3'] }}</p>

    <h5>MPPT 4</h5>
    <p>Número de Strings: {{ post_arranjo['num_strings_mppt4'] }}</p>
    <p>Módulos por String: {{ post_arranjo['mod_strings_mppt4'] }}</p>
    <p>Azimute (°): {{ post_arranjo['azimute_mppt4'] }}</p>
    <p>Inclinação (°): {{ post_arranjo['inclinacao_mppt4'] }}</p>
{% endblock %}